@import './base.css';
@import '@fontsource-variable/noto-sans-sc/index.css';
@import '@fontsource/google-sans-flex/index.css';
@import '@fontsource/jetbrains-mono/index.css';

@layer base {
  :root {
    font-family: 'Google Sans Flex', 'Noto Sans SC Variable', system-ui,
      -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
  body {
    font-family: 'Google Sans Flex', 'Noto Sans SC Variable', system-ui,
      -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    @apply overflow-hidden tracking-wide;
  }
  code,
  pre {
    font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}

@layer shiki {
  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;

    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
    transition: background-color var(--default-transition-duration)
      var(--default-transition-timing-function);
  }
  pre.shiki {
    transition: background-color var(--default-transition-duration)
      var(--default-transition-timing-function);
  }
}
